<%- include("./partials/header.ejs") %>
    <h1>this is index.ejs file</h1>

    <form method="POST" action="/form-data">
        <input name="name" type="text" placeholder="enter name">
        <input name="phone" type="tel" placeholder="enter phone">
        <input name="email" type="email" placeholder="enter email">
        <button>submit</button>
    </form>

    <table border="1">

    <% for(let i = 0 ; i < data.length; i ++){ %>
        <tr>
            <td><%= data[i].name %></td>
            <td><%= data[i].phone %></td>
            <td><%= data[i].email %></td>
        </tr>
    <% } %>

    </table>

<%- include("./partials/footer.ejs") %>